.root {
	width: 100%;
}

.dropzone {
	display: flex;
	align-items: center;
	justify-content: center;
	
	&__helper {
		padding: 30px 60px;
		margin-bottom: 35px;
		border: 1px dashed white;
		font-size: 16px;
		cursor: default;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			margin-right: 16px;
		}
	}
	
	&__loading {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 35px;
		& > p {
			display: flex;
			align-items: center;
			user-select: none;
			-webkit-tap-highlight-color: transparent;
		} 
		& > p:first-child {
			justify-content: flex-start;
			font-size: 16px;
			margin: 1em 0;
		}
		& > p:last-child {
			justify-content: flex-end;
			font-size: 18px;
			margin-top: 1em;
			cursor: pointer;
		}
		&__bar {
			.MuiLinearProgress-root { height: 10px; }
			.MuiLinearProgress-colorPrimary { 
				background-color: rgba(255,255,255, 0.5);
			}
			&-success {
				.MuiLinearProgress-root { height: 10px; }
			}
			&-error {
				.MuiLinearProgress-root { height: 10px; }
				.MuiLinearProgress-barColorPrimary { background-color: red; }
			}
		}
	}
}

@media (max-width: 600px) {
	.root{
		width: 55%;
	}
	.dropzone {
		&__helper {
			width: 100%;
			margin-bottom: 40px;
			padding: 30px 20px;
		}
		&__loading {
			& > p:first-child {
				font-size: 14px;
			}
			& > p:last-child {
				font-size: 16px;
			}
		}
	}
}