@font-face {
  font-family: Bebas Neue;
  src: url('./assets/fonts/BebasNeue-Regular.otf');
}

@font-face {
  font-family: Bebas Neue;
  src: url('./assets/fonts/BebasNeue-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: Bebas Neue;
  src: url('./assets/fonts/BebasNeue-Light.otf');
  font-weight: 300;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Bebas Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 4px;
  background-color: #242424;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pointer {
  cursor: pointer;
}